.carousel-wrapper{

    position:relative;

    height:16rem;

    overflow:hidden;
}

.carousel-image{

    width:100%;

    height:100%;

    object-fit:cover;

    transition:.6s;
}

.glass-card:hover .carousel-image{

    transform:scale(1.06);
}

.image-overlay{

    position:absolute;

    inset:0;

    background:linear-gradient(
        to top,
        rgba(2,6,23,.45),
        transparent 50%
    );

    pointer-events:none;
}

.carousel-btn{

    position:absolute;

    top:50%;

    transform:translateY(-50%);

    background:none;

    border:none;

    color:white;

    font-size:2rem;

    cursor:pointer;

    opacity:0;

    transition:.3s;
}

.glass-card:hover .carousel-btn{

    opacity:1;
}

.carousel-btn.left{

    left:18px;
}

.carousel-btn.right{

    right:18px;
}

.carousel-btn:hover{

    transform:translateY(-50%) scale(1.15);
}

.carousel-dots{

    position:absolute;

    left:50%;

    bottom:18px;

    transform:translateX(-50%);

    display:flex;

    gap:8px;
}

.dot{

    width:8px;

    height:8px;

    border-radius:999px;

    background:rgba(255,255,255,.35);

    transition:.3s;
}

.dot.active{

    width:30px;

    background:white;
}